$primary: rgb(13, 136, 250);
$secondary: rgb(76, 187, 185);
$tertiary: rgb(119, 216, 216);
$bg: rgb(239, 243, 198);


//color banner
$primary-1: rgb(62, 160, 251);
$secondary-1: rgb(112, 200, 199);
$tertiary-1: rgb(146, 223, 223);
$bg-1: rgb(242, 245, 209);

// Background game
$white: #fff
