@import './color.scss';

html,
body{
  background-color: $bg;
}

.banner {
  padding-top: 0px;
  padding-bottom: 30px;
  width: 100%;
  height: 364px;  

  overflow: hidden;
}

.img-center{
  display: block;
  margin: 0 auto;
}